.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  color: white;
}

.auth-container button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #0ea5e9;
}
